<!DOCTYPE html>
<html>
<head>
  <title>DeloitteLogo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="/assets/css/themes/monokai.css" rel="stylesheet" type="text/css">
  <link href="/assets/dd_favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="/assets/dd_favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <%= favicon_link_tag 'dd_favicon.ico' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
